---
layout: tour
title: 'Neighborhood History | 2024 Festival of Historic Houses Guidebook'
permalink: /2024/neighborhood/
body-class: tour
---

<img class="img-fluid" src="{{ site.baseurl }}assets/guidebook/larch-st-1.jpg" alt="" />
<div class="u__container u__spacing">

  <h1 class="h2">Neighborhood History</h1>
  <p class="lead">The 2024 Festival of Historic Houses focuses on a five-block area of the Mount Hope neighborhood in northeastern Providence, and the houses and gardens on this year’s tour provide a snapshot of the most active period of residential development in this part of the city.</p>

  <p>Housing development in Mount Hope was initially concentrated in its southern and western sectors, adjacent to Olney Street and North Main Street and within walking distance of Downtown and the Moshassuck River industrial district. Here, significant Black and Irish communities established themselves by the mid-19th century. After streetcar lines were introduced on North Main Street (1875) and Camp Street (1886), the pace of development accelerated throughout the neighborhood, and it was fully built out over the next half century. New streets in Mount Hope, many referencing trees or other pastoral imagery, and the name of the neighborhood itself, were a marketing strategy designed to appeal to “the suburban ideal” that was gaining widespread popularity as industrialization and urbanization rapidly transformed American life. Suburban areas were viewed as less crowded, quieter, safer, healthier, and closer to nature; Mount Hope offered all these benefits.</p>

  <p>Most of Mount Hope’s houses are single-family or two-family dwellings built for working-class and middle-class occupants. Ranging from simple cottages to more elaborate, architect-designed residences, Mount Hope’s housing stock features many popular architectural styles of the late 19th and early 20th centuries, including Italianate, Second Empire, Queen Anne, Colonial Revival, Bungalow, and Triple-Decker. Catalpa Road contains a notable collection of 11 Colonial Revival style suburban tract houses, all designed by Providence architects Murphy & Hindle and constructed by the Gilbane Building Company between 1902 and 1904.</p>

  <p>In the 1950s-1970s, systematic commercial expansion occurred along North Main Street. At the southern end of the neighborhood, the Lippitt Hill Redevelopment Project demolished many older homes and apartments in this historically Black and multiracial neighborhood, replacing them with larger-scale development such as the University Heights shopping center and apartment complex, and the Martin Luther King, Jr. Elementary School. This activity displaced numerous residents and closed legacy Black-owned businesses during the era of urban renewal, leaving lasting scars in the city’s physical and social fabric. Here, as in other parts of the city to the south and west, work is underway to recognize these painful histories and to advocate for more inclusive and equitable planning and development practices now and in the future.</p>

  <p>Today, Mount Hope is a diverse neighborhood with a range of housing types and a profusion of secret gardens that are both beautiful and functional. Reading the individual house histories and profiles of some of the neighborhood’s residents over the years, a picture emerges of Mount Hope that is lively, artistic, and cosmopolitan, with connections to Black freedom, resilience, and the ingenuity of immigrant communities from around the world.</p>

</div>

<div class="u__spacing bg__primary">
  <h2 class="h3">On this Tour</h2>
  {% include location-navigation.html %}
</div>

{% include sponsors.html %}
