      <footer id="mainfoot" class="main__footer footer">
        <div class="u__container--large u__spacing">
          <div class="row align-items-top">
            <div class="col-sm-6 footer__title">
              <img class="img-fluid" src="{% link assets/img/festival-modern-design_horiz.png %}" alt="Festival of Historic Houses" />
            </div>
            <div class="col-sm-6 footer__address">
              <p class="text-center text-sm-right">
                <a href="//ppsri.org">Providence Preservation Society</a>
              </p>
              <address class="text-center text-sm-right">
                <a href="//www.google.com/maps/place/24+Meeting+St,+Providence,+RI+02903" target="_blank">
                  <span>24 Meeting Street,</span> <span>Providence RI 02903</span>
                </a>
              </address>
              <p class="text-center text-sm-right">
                <span>Phone: <a href="tel:4018317440">401-831-7440</a></span> <span class="divider"> // </span>
                <span>Email: <a href="mailto:info@ppsri.org">info@ppsri.org</a></span>
              </p>
            </div>
          </div>
        </div>
      </footer>
