<head>
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="https://www.googletagmanager.com">
	<link rel="dns-prefetch" href="https://code.jquery.com">
  <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.html-title %}{{ page.html-title }}{% else %}{{ page.title }} | PPS FHH{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css?cb={{ page.date | date:'%Y%m%d-%T' }}">

  <link rel="apple-touch-icon" sizes="240x240" href="{% link assets/img/PPS-logo-dark_trans.png %}">
  <link rel="apple-touch-icon" sizes="77x77" href="{% link assets/img/PPS-apple-touch-77.png %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% link assets/img/favicon-16x16.png %}">
  <meta name="msapplication-TileImage" content="{% link assets/img/PPS-metro-144.png %}">
  <link rel="shortcut icon" href="{% link assets/img/favicon.ico %}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3259148-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-3259148-4');
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KGJCCCBJ48"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-KGJCCCBJ48');
  </script>
</head>
