<head>
	<meta charset="utf-8">
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://www.googletagmanager.com">
	<link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.html-title %}{{ page.html-title }} | PPS FHH{% else %}{{ page.title }}| {{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/css/main.css?refresh=20220502-10:30">

  <link rel="apple-touch-icon" sizes="240x240" href="/assets/img/PPS-logo-dark_trans.png">
  <link rel="apple-touch-icon" sizes="77x77" href="/assets/img/PPS-apple-touch-77.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="/assets/img/PPS-metro-144.png">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3259148-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-3259148-4');
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KGJCCCBJ48"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-KGJCCCBJ48');
  </script>
</head>
