<ul class="navbar-nav nav__menu" role="navigation">
  <li class="nav__item">
    <a href="{% link 2021/gardens/89-peace-st.html %}" class="nav__link{% if page.permalink == '/2021/89-peace-st/' %} nav__current" aria-current="page{% endif %}">
      <span class="tour__nav__address">89 Peace Street, check-in center</span>
      <span class="tour__nav__house-name">Peace and Plenty Garden</span>
    </a>
  </li>
  <li class="nav__item">
    <a href="{% link 2021/gardens/124-sycamore-st.html %}" class="nav__link{% if page.permalink == '/2021/124-sycamore-st/' %} nav__current" aria-current="page{% endif %}">
      <span class="tour__nav__address">124 Sycamore Street</span>
      <span class="tour__nav__house-name">Sycamore Community Garden</span>
    </a>
  </li>
  <li class="nav__item">
    <a href="{% link 2021/gardens/21-meeting-st.html %}" class="nav__link{% if page.permalink == '/2021/21-meeting-st/' %} nav__current" aria-current="page{% endif %}">
      <span class="tour__nav__address">21 Meeting Street, check-in center</span>
      <span class="tour__nav__house-name">John Carter House</span>
    </a>
  </li>
  <li class="nav__item">
    <a href="{% link 2021/gardens/135-benefit-st.html %}" class="nav__link{% if page.permalink == '/2021/135-benefit-st/' %} nav__current" aria-current="page{% endif %}">
      <span class="tour__nav__address">135 Benefit Street</span>
      <span class="tour__nav__house-name">John P. Mawney House</span>
    </a>
  </li>
  <li class="nav__item">
    <a href="{% link 2021/gardens/27-cushing-st.html %}" class="nav__link{% if page.permalink == '/2021/27-cushing-st/' %} nav__current" aria-current="page{% endif %}">
      <span class="tour__nav__address">27 Cushing Street</span>
      <span class="tour__nav__house-name">“The Powder House”</span>
    </a>
  </li>
  <li class="nav__item">
    <a href="{% link 2021/gardens/66-williams-st.html %}" class="nav__link{% if page.permalink == '/2021/66-williams-st/' %} nav__current" aria-current="page{% endif %}">
      <span class="tour__nav__address">66 Williams Street, check-in center</span>
      <span class="tour__nav__house-name">Corliss-Carrington House</span>
    </a>
  </li>
  <li class="nav__item">
    <a href="{% link 2021/gardens/134-power-st.html %}" class="nav__link{% if page.permalink == '/2021/134-power-st/' %} nav__current" aria-current="page{% endif %}">
      <span class="tour__nav__address">134 Power Street</span>
      <span class="tour__nav__house-name">Edwin Halsey Reynolds House</span>
    </a>
  </li>
  <li class="nav__item">
    <a href="{% link 2021/gardens/290-310-blackstone-blvd.html %}" class="nav__link{% if page.permalink == '/2021/290-310-blackstone-blvd/' %} nav__current" aria-current="page{% endif %}">
      <span class="tour__nav__address">290 & 310 Blackstone Boulevard</span>
      <span class="tour__nav__house-name">Wesley C. Martin House</span>
    </a>
  </li>
</ul>
