<footer class="tour__house__next u__spacing--sm bg__green">
  <h2 class="h5">Next Location:</h2>
  <ul class="navbar-nav nav__menu" role="navigation" aria-label="Next Location">
    <li class="nav__item">
      <a class="nav__link" href="{{ page.next-house-url }}">
      {% if page.next-house-name %}
        <span class="tour__nav__address">{{ page.next-house-title }}</span>
        <span class="tour__nav__house-name">{{ page.next-house-name }}</span>
      {% else %}
        {{ page.next-house-title }}
      {% endif %}
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="{% link 2022/map.html %}">Location Map</a>
    </li>
  </ul>
</footer>
