<h3 class="h4 text__primary">Main Events</h3>

<h4 class="h5">Sunday, October 5</h4>
<p><b>5 – 7:00pm | Keynote Address and Opening Reception</b><br> 
  Donald Albrecht, <a href="{% link program/designing-home.html %}"{% if page.permalink == '/program/designing-home/' %} aria-current="page"{% endif %}>Designing Home: Jews and Midcentury Modernism</a><br>
  Moderator: Eric Anderson<br>
  Location: Temple Beth-El (1954), 70 Orchard Avenue</p>

<h4 class="h5">Thursday, October 9</h4>
<p><b>5:30 – 7:30pm</b> | <a href="{% link program/mid-mod-cocktail-party.html %}"{% if page.permalink == '/program/mid-mod-cocktail-party/' %} aria-current="page"{% endif %}>Mid Mod Cocktail Party</a></p>

<h4 class="h5">Friday, October 10</h4>
<p><b>8am – 3pm</b> | <a href="{% link program/providence-modern.html %}"{% if page.permalink == '/program/providence-modern/' %} aria-current="page"{% endif %}>Providence Modern (1945-1995): Architecture, Design, Planning, Culture</a></p>

<h4 class="h5">Saturday, October 11</h4>
<p><b>10am – 4pm</b> | <a href="{% link program/open-house-tour.html %}"{% if page.permalink == '/program/open-house-tour/' %} aria-current="page"{% endif %}>Providence Modern Open House</a><br>
  PPS’s signature open house event with access to a dozen modern homes on the East Side.</p>


<h3 class="h4 text__primary">Supporting Programs</h3>

<h4 class="h5">Sunday, October 5</h4>
<p><b>11am – 12:30pm</b> | <a href="{% link program/pratt-st-walking-tour.html %}"{% if page.permalink == '/program/pratt-st-walking-tour/' %} aria-current="page"{% endif %}>Where the Moderns and Postmoderns Went to Play: Pratt Street Walking Tour</a></p>

<h4 class="h5">Monday, October 6</h4>
<p><b>11am – 12:30pm</b> | <a href="{% link program/field-trip-adam-edelsberg.html %}"{% if page.permalink == '/program/field-trip-adam-edelsberg/' %} aria-current="page"{% endif %}>Field Trip: Adam Edelsberg 20th Century Design</a></p>

<h4 class="h5">Tuesday, October 7</h4>
<p><b>5 – 6:30pm</b> | <a href="{% link program/skateboarding-urban-renewal.html %}"{% if page.permalink == '/program/skateboarding-urban-renewal/' %} aria-current="page"{% endif %}>What Grows from Urban Renewal? Skateboarding Meets Local 3 at Cathedral Square</a></p>

<h4 class="h5">Wednesday, October 8</h4>
<p><b>1 – 2:00pm</b> | <a href="{% link program/temple-beth-el-tour.html %}"{% if page.permalink == '/program/temple-beth-el-tour/' %} aria-current="page"{% endif %}>Temple Beth-El Tour with George Goodwin</a> </p>

<p><b>5 – 6:30pm</b> | <a href="{% link program/collecting-modern.html %}"{% if page.permalink == '/program/collecting-modern/' %} aria-current="page"{% endif %}>Collecting Modern</a> </p>

<h4 class="h5">Thursday, October 9</h4>
<p><b>2 – 3:30pm</b> | <a href="{% link program/highlights-from-risd-museum.html %}"{% if page.permalink == '/program/highlights-from-risd-museum/' %} aria-current="page"{% endif %}>Modern Highlights from RISD Museum’s Decorative Arts and Design Collection</a></p>
