{% if page.permalink != '/sponsors/' %}
    <div class="u__spacing"></div>
    <div class="u__content">
      <aside class="sponsors">
        <div class="u__vspacing bg__white">

          <h2 class="h3 text-center sponsors__title mb-0">Festival Sponsors</h2>
          <p class="text-center u__mb-spacing">The 2025 Festival is generously sponsored by:</p>
{% endif %}
          <h3 class="h4 text-center">Presenting Sponsor</h3>
          <div class="row sponsors__list u__mb-spacing">
            <p><img class="col img--rwd" style="min-width: 260px; max-width: 360px" src="{% link assets/sponsors/prov-tourism-council.jpg %}" alt="Providence Tourism Council" /></p>
            
            {% if page.permalink == '/sponsors/' %}
            <p><i>The Providence Tourism Council strives to increase the economic impact of tourism, commerce and engagement of visitors through the development of events, programs and tourism within the City of Providence. The PTC is part of the Convention Authority of the City of Providence and established by state statute. Since its creation in 1984, the PTC has provided public relations, marketing and financial support to organizations who have demonstrated the ability to draw visitors to the city, have an economic impact, benefit for Providence residents, and generate awareness and marketing exposure for the city. The PTC has been a supporter of PPS’s Festival of Historic Houses for close to 20 years!</i></p>
            {% endif %}
          </div>

          <h3 class="h4 text-center">Premier Sponsors</h3>
          <div class="row sponsors__list u__mb-spacing">
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 200px; max-width: 260px" src="{% link assets/sponsors/jim-derentis-res-props.jpg %}" alt="" />
              James&nbsp;DeRentis, Residential&nbsp;Properties</p>
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 150px; max-width: 180px" src="{% link assets/sponsors/prf_color_full_logo.png %}" alt="" />
              Providence Revolving Fund</p>
          </div>

          <h3 class="h5 text-center">Modernist Champion</h3>
          <div class="row sponsors__list u__mb-spacing">
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 200px; max-width: 260px" src="{% link assets/sponsors/AIA-Rhode-Island_RED-BLACK_RGB.jpg %}" alt="" />
            AIA Rhode Island</p>
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 120px; max-width: 180px" src="{% link assets/sponsors/city-kitty-providence.png %}" alt="" />
            City Kitty Veterinary Care for Cats</p>
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 200px; max-width: 260px" src="{% link assets/sponsors/HCd-logo-wstar.jpg %}" alt="" />
            Highchair designhaus</p>
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 120px; max-width: 180px" src="{% link assets/sponsors/residential-properties-new.jpg %}" alt="" />
            Residential Properties</p>
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 120px; max-width: 180px" src="{% link assets/sponsors/RISD_seal-BLUE.png %}" alt="" />
            Rhode Island School of Design</p>
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 180px; max-width: 220px" src="{% link assets/sponsors/Brent-Runyon-logo.jpg %}" alt="" />
            Brent Runyon,<br> HistoricHomesRI.com</p>
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 120px; max-width: 180px" src="{% link assets/sponsors/school-one_trans.png %}" alt="" />
            School One</p>
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 220px; max-width: 280px" src="{% link assets/sponsors/barbara-sokoloff.jpg %}" alt="" />
            Barbara Sokoloff Associates</p>
            <p style="text-align: center; padding-inline: 1em;"><img class="col img--rwd" style="min-width: 160px; max-width: 200px" src="{% link assets/sponsors/Team-2025-Bill-Applegate.jpg %}" alt="" />
            Team Applegate</p>
            <hr style="width: 100%" />
            <p class="font-italic h6" style="text-align: center; padding-inline: 1em; width: 100%;">Gertsacov Law Offices</p>
            <p class="font-italic h6" style="text-align: center; padding-inline: 1em; width: 100%;">Vicki Veh</p>
            <p class="font-italic h6" style="text-align: center; padding-inline: 1em; width: 100%;">Vicki Veh Neighborhood Program</p>
            <span></span>
          </div>

 
  {% if page.permalink != '/sponsors/' %}
        </div>  
      </aside>
    </div>
{% endif %}
