      <aside class="u__vspacing u__mb-spacing sponsors">
        <div class="u__vspacing bg__white">

          <h2 class="h3 text-center sponsors__title mb-0">Festival Sponsors</h2>
          <p class="text-center u__mb-spacing">The 2023 Festival is generously sponsored by:</p>
  
          <h3 class="h4 text-center">Partners in Preservation</h3>
          <img class="img--rwd" style="min-width: 160px; max-width: 200px; margin: 0 auto 1.5rem;" src="{{ site.baseurl }}assets/sponsors/residential-properties-new.jpg" alt="Residential Properties" />
          <div class="row sponsors__list u__mb-spacing">
            <img class="col img--rwd" style="min-width: 240px; max-width: 280px" src="{{ site.baseurl }}assets/sponsors/adlers.jpg" alt="Adlers Hardware" />
            <img class="col img--rwd" style="min-width: 180px; max-width: 240px" src="{{ site.baseurl }}assets/sponsors/BankRI.png" alt="BankRI" />
            <img class="col img--rwd" style="min-width: 280px; max-width: 340px" src="{{ site.baseurl }}assets/sponsors/partridge-snow-hahn.jpg" alt="Patridge Snow &amp; Hahn Counselors at Law" />
          </div>

          <h3 class="h4 text-center">Lead Sponsors</h3>
          <div class="row sponsors__list u__mb-spacing">
            <img class="col img--rwd" style="min-width: 180px; max-width: 280px" src="{{ site.baseurl }}assets/sponsors/TARC-logo-color.jpg" alt="The Armory Revival Company" />
            <img class="col img--rwd" style="min-width: 180px; max-width: 280px" src="{{ site.baseurl }}assets/sponsors/jim-derentis-res-props.jpg" alt="Jim Derentis Real Estate Advisory" />
          </div>

          <h3 class="h4 text-center">Preview Party Sponsors</h3>
          <div class="row sponsors__list u__mb-spacing">
            <p class="col h5 text-center text-primary text-info"><i>Cathy Lund and Peter Karczmar</i></p>
          </div>

          <h3 class="h4 text-center">Benefactor Sponsors</h3>
          <div class="row sponsors__list u__mb-spacing">
            <p class="col h5 text-center text-primary text-info"><i>Candy Adriance & Yankee Travel</i></p>
          </div>

          <h3 class="h4 text-center">Supporting Sponsors</h3>
          <div class="row sponsors__list u__mb-spacing">
            <img class="col img--rwd" style="min-width: 140px; max-width: 200px" src="{{ site.baseurl }}assets/sponsors/David-Abbott-without-RP.jpg" alt="David Abbott" />
            <img class="col img--rwd" style="min-width: 160px; max-width: 200px" src="{{ site.baseurl }}assets/sponsors/ap-and-s.png" alt="Adler Pollock & Sheehan P.C." />
            <img class="col img--rwd" style="min-width: 220px; max-width: 280px" src="{{ site.baseurl }}assets/sponsors/baycoast-bank.jpg" alt="BayCoast Bank" />
            <img class="col img--rwd" style="min-width: 240px; max-width: 320px" src="{{ site.baseurl }}assets/sponsors/angela-deller.jpg" alt="Angela Deller Professional Landscape Gardening" />
            <img class="col img--rwd" style="min-width: 240px; max-width: 320px" src="{{ site.baseurl }}assets/sponsors/jane-driver-residential.jpg" alt="Jane Driver, Associate Realtor with Residential Properties" />
            <img class="col img--rwd" style="min-width: 260px; max-width: 320px" src="{{ site.baseurl }}assets/sponsors/nat-trust-Ins-services.png" alt="National Trust Insurance Services, LLC" />
            <img class="col img--rwd" style="min-width: 280px; max-width: 340px" src="{{ site.baseurl }}assets/sponsors/barbara-sokoloff.jpg" alt="Barbara Sokoloff, Development & Community Planning Consulting" />
            <img class="col img--rwd" style="min-width: 220px; max-width: 280px" src="{{ site.baseurl }}assets/sponsors/wash-trust.jpg" alt="Washington Trust" />
          </div>

          <div class="row sponsors__list align-items-start">
            <div class="col col-md-4 col-xl-6">
              <h3 class="h4 text-center">Additional Support</h3>
              <div class="row sponsors__list">
                <img class="img--rwd" style="min-width: 240px; max-width: 320px" src="{{ site.baseurl }}assets/sponsors/prov-tourism-council.jpg" alt="Providence Tourism Council" />
                <img class="col img--rwd" style="min-width: 180px; max-width: 240px" src="{{ site.baseurl }}assets/sponsors/HCd-logo-wstar.jpg" alt="J. Hogue at Highchair designhaus" />
                <img class="col img--rwd" style="min-width: 220px; max-width: 280px" src="{{ site.baseurl }}assets/sponsors/warren-jagger-photo.jpg" alt="Warren Jagger Photography" />
                <img class="col img--rwd" style="min-width: 180px; max-width: 240px" src="{{ site.baseurl }}assets/sponsors/paul-cuffee-school.jpg" alt="Paul Cuffee School" />
                <img class="col img--rwd" style="min-width: 140px; max-width: 180px" src="{{ site.baseurl }}assets/sponsors/OSOF_logo.jpg" alt="Ocean State Oyster Festival" />
              </div>
            </div>
            <div class="col col-md-4 col-xl-3">
              <h3 class="h4 text-center">Hotel Sponsor</h3>
              <img class="img--rwd" style="min-width: 120px; max-width: 180px" src="{{ site.baseurl }}assets/sponsors/the-dean-logo.jpg" alt="The Dean Hotel" />
            </div>
            <div class="col col-md-4 col-xl-3">
              <h3 class="h4 text-center">Media Sponsor</h3>
              <img class="img--rwd" style="min-width: 120px; max-width: 180px" src="{{ site.baseurl }}assets/sponsors/NEH-logo.png" alt="New England Home magazine" />
            </div>
            
            </div>
          </div>

        </div>
      </aside>
