      <section id="sponsors" class="u__vspacing bg__white sponsors">
        <h2 class="h4 text-center sponsors__title">Festival Sponsors</h2>
        <p class="text-center">The 2019 Festival is generously sponsored by:</p>
        
        <h3 class="h5 text-center">Lead Sponsor</h3>
        <div class="container u__container--large">
          <div class="row sponsors__list">
            <img class="col img-container img--rwd" style="min-width: 360px; max-width: 480px" src="{{ site.baseurl }}assets/sponsors/BNP_200thLogo_4C_FDIC.jpg" alt="Bank Newport" />
          </div>
        </div>
        
        <h3 class="h5 text-center">Partners in Preservation</h3>
        <div class="container u__container--large">
          <div class="row sponsors__list">
            <img class="col img-container img--rwd" style="min-width: 120px; max-width: 180px" src="{{ site.baseurl }}assets/sponsors/residential-properties.jpg" alt="Residential Properties" />
            <img class="col img-container img--rwd" style="min-width: 160px; max-width: 240px" src="{{ site.baseurl }}assets/sponsors/adlers.jpg" alt="Adlers Hardware" />
            <img class="col img-container img--rwd" style="min-width: 160px; max-width: 240px" src="{{ site.baseurl }}assets/sponsors/couture-design-associates.jpg" alt="Couture Design Associates" />
            <img class="col img-container img--rwd" style="min-width: 220px; max-width: 300px" src="{{ site.baseurl }}assets/sponsors/partridge-snow-hahn.jpg" alt="Patridge Snow &amp; Hahn Counselors at Law" />
          </div>
        </div>
        
        <h3 class="h5 text-center">Benefactors</h3>
        <div class="container u__container--large">
          <div class="row sponsors__list">
            <img class="col img-container img--rwd" style="min-width: 150px; max-width: 200px" src="{{ site.baseurl }}assets/sponsors/casa-buena-builders.jpg" alt="Casa Buena Builders" />
            <img class="col img-container img--rwd" style="min-width: 140px; max-width: 200px" src="{{ site.baseurl }}assets/sponsors/kelly-taylor-interior.png" alt="Kelly Taylor Interior Design" />
          </div>
        </div>
        
        <h3 class="h5 text-center">Supporters</h3>
        <div class="container u__container--large">
          <div class="row sponsors__list">
            <div class="col img-container text-center" style="min-width: 240px; max-width: 360px">
              <p><b class="text-serif">Liz and Sandy Bodell</b></p>
            </div>
            <img class="col img-container img--rwd" style="min-width: 280px; max-width: 340px" src="{{ site.baseurl }}assets/sponsors/barbara-sokoloff.jpg" alt="Barbara Sokoloff Associates" />
            <img class="col img-container img--rwd" style="min-width: 140px; max-width: 180px" src="{{ site.baseurl }}assets/sponsors/city-kitty-providence.png" alt="City Kitty, Providence" />
            <img class="col img-container img--rwd" style="min-width: 200px; max-width: 280px" src="{{ site.baseurl }}assets/sponsors/GreenInk-logo_trans.png" alt="Green Ink Tattoo Studio" />
            <img class="col img-container img--rwd" style="min-width: 200px; max-width: 280px" src="{{ site.baseurl }}assets/sponsors/nat-trust-Ins-services.png" alt="National Trust Insurance Services, LLC" />
            <img class="col img-container img--rwd" style="min-width: 140px; max-width: 240px" src="{{ site.baseurl }}assets/sponsors/preserve-ri-trans.png" alt="Preserve RI" />
            <img class="col img-container img--rwd" style="min-width: 180px; max-width: 260px" src="{{ site.baseurl }}assets/sponsors/wash-trust.jpg" alt="Washington Trust" />
            <img class="col img-container img--rwd" style="min-width: 200px; max-width: 260px" src="{{ site.baseurl }}assets/sponsors/wbna-smaller.jpg" alt="West Broadway Neighborhood Association" />
            <img class="col img-container img--rwd" style="min-width: 180px; max-width: 260px" src="{{ site.baseurl }}assets/sponsors/yankee-travel.jpg" alt="Yankee Travel" />
          </div>
        </div>
        
        <h3 class="h5 text-center">With Support From</h3>
        <div class="container u__container--large">
          <div class="row sponsors__list">
            <img class="col img-container img--rwd" style="min-width: 240px; max-width: 360px" src="{{ site.baseurl }}assets/sponsors/prov-tourism-council.jpg" alt="Providence Tourisn Council" />
            <div class="col img-container text-center" style="min-width: 240px; max-width: 360px">
              <img class="img--rwd" src="{{ site.baseurl }}assets/sponsors/Lincoln-school_logo.jpg" alt="Lincoln School" />
              <p><b><em class="text-serif">Suzanne Fogarty, Head of School</em></b></p>
            </div>
            <img class="col img-container img--rwd" style="min-width: 220px; max-width: 360px" src="{{ site.baseurl }}assets/sponsors/Bottles-logo.jpg" alt="Bottles Wine and Spirits" />
            <img class="col img-container img--rwd" style="min-width: 100px; max-width: 140px" src="{{ site.baseurl }}assets/sponsors/eastend.jpg" alt="The East End bar" />
            <img class="col img-container img--rwd" style="min-width: 180px; max-width: 280px" src="{{ site.baseurl }}assets/sponsors/HCd-logo-wstar.jpg" alt="Highchair designhaus" />
            <img class="col img-container img--rwd" style="min-width: 140px; max-width: 140px" src="{{ site.baseurl }}assets/sponsors/ocean-state-oyster-fest.jpg" alt="Ocean State Oyster Festival" />
            <img class="col img-container img--rwd" style="min-width: 220px; max-width: 360px" src="{{ site.baseurl }}assets/sponsors/warren-jagger-photo.jpg" alt="Warren Jagger Photography" />
          </div>
        </div>
        
        <div class="container u__container--large">
          <div class="row sponsors__list">
            <div class="col img-container text-center" style="min-width: 280px; max-width: 450px">
              <h3 class="h5 text-center">Media Sponsor</h3>
              <img class="img--rwd" style="max-width: 200px" src="{{ site.baseurl }}assets/sponsors/NEH-logo.png" alt="New England Home Magazine" />
            </div>
            <div class="col img-container text-center" style="min-width: 280px; max-width: 450px">
              <h3 class="h5 text-center">Hotel Partner</h3>
              <img class="img--rwd" style="max-width: 160px" src="{{ site.baseurl }}assets/sponsors/hotelprovidence.jpg" alt="Hotel Providence" />
            </div>
          </div>
        </div>
        
        <div class="u__content">
          <p class="text-center">Interested in sponsoring the Festival? <a href="{{ site.baseurl }}assets/pdf/2019-FHH-Sponsorship Opportunities.pdf" target="_blank">Please review our sponsorship opportunities</a> and contact Angela Kondon, Director of Special Events at <a href="tel:4018317440">401-831-7440</a> or <a href="mailto:akondon@ppsri.org">akondon@ppsri.org</a></p>
        </div>
      </section>
