          <header class="nav__container navbar fixed-top">
            <nav id="main-nav" class="main__nav navbar nav u__m-spacing">
              <a class="navbar-brand nav__logo" href="{{ site.baseurl }}{{ site.currenttour }}">
                <img src="{{ site.baseurl }}assets/img/PPS-logo-black-trans_240.png" alt="Providence Preservation Society" />
                <span class="nav__title">{{ site.currenttour }} Festival of Historic Houses</span>
              </a>
              <button class="navbar-toggler nav__button" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="nav__button__icon" aria-hidden="true">&equiv;</span>
                <span class="nav__button__text"><span class="sr-only">Open the </span>Menu</span>
              </button>
              <div class="collapse navbar-collapse nav__pane" id="navbarContent">
                <ul class="navbar-nav nav__list" role="navigation" aria-label="Primary">
                  {% include tour-mini-navigation.html %}
                </ul>
              </div>
            </nav>
          </header>
