  <li class="nav-item nav__item">
    <a href="{% link 2022/welcome.html %}" class="nav-link nav__link{% if page.permalink == '/2022/welcome/' %} active" aria-current="page{% endif %}">Welcome message</a>
  </li>
  <li class="nav-item nav__item">
    <a href="{% link 2022/neighborhood.html %}" class="dropdown-item nav__link{% if page.permalink == '/2022/neighborhood/' %} active" aria-current="page{% endif %}">Open Festival Properties</a>
  </li>
  <li class="nav-item nav__item dropdown">
    {% include location-navigation.html %}
  </li>
  <li class="nav-item nav__item">
    <a href="{% link 2022/map.html %}" class="nav__link{% if page.permalink == '/2022/map/' %} active" aria-current="page{% endif %}">Location Map</a>
  </li>
  <li class="nav-item nav__item">
    <a href="{% link 2022/sponsors.html %}" class="nav__link{% if page.permalink == '/2022/sponsors/' %} active" aria-current="page{% endif %}">Festival Sponsors & Committee</a>
  </li>
