//
// Color system
//

// Custom values for Brown pps Lab
$white:    #fff;
//$gray-100: #f8f9fa !default;
$gray-200: #e1e1e5;
$gray-300: #bcbbc4;
$gray-400: #a4a2ae;
$gray-500: #797788;
$gray-600: #504e5a;
$gray-700: #3d3c45;
//$gray-800: #343a40 !default;
$gray-900: #222;
$black:    #101010;


// Main brand colors
$pps-blue: #369;
$pps-blue__h: 210;
$pps-blue__s: 50;
$pps-blue__l: 40;

$pps-denim: #658E9C;
$pps-denim__h: 195;

$pps-green: #7e9375;
$pps-green__h: 102;
$pps-green__s: 12;
$pps-green__b: 52;

$pps-yellow: #d6d397; // 57, 43%, 72%
$pps-yellow__h: 57;

$pps-purple: #514663;
$pps-purple__h: 263;


// Colors for this year's theme
$primary: $pps-yellow;
$tint__primary__dark: hsl($pps-yellow__h, 53%, 28%);
$tint__primary__medium: hsl($pps-yellow__h, 53%, 40%);
$tint__primary__lightest: hsl($pps-yellow__h, 63%, 94%);

$secondary: $pps-blue;
$tint__secondary__dark: hsl($pps-blue__h, 50%, 22%);
$tint__secondary__medium: hsl($pps-blue__h, 50%, 40%);
$tint__secondary__lightest: hsl($pps-blue__h, 60%, 94%);

// Generic variables
$color__body-fg: $gray-900;
// Make the body bg the same as the footer bg.
// This makes the page seamless when the body is shorter than the viewport height.
$color__body-bg: $black;

$color__link: $tint__secondary__dark;
$color__link-hover: $gray-700;
$color__link-focus: $pps-blue;

$color__borders: $gray-200;


// Bootstrap color variables
$blue: $pps-blue;
//$indigo:  #6610f2;
// $purple: $pps-purple;
//$pink:    #e83e8c;
//$red:     #dc3545;
//$orange:  #fd7e14;
$yellow: $pps-yellow;
$green: $pps-green;
$teal: $pps-blue;
$cyan: $pps-denim;

$success: $pps-blue;
$info: $pps-blue;
//$warning:       $yellow;
//$danger:        $red;
$light: $gray-200;
//$dark: $pps-blue;
