// General variables

$transition: all 250ms ease;
$kerning: .03125em;

// Spacing: Assumed REMs
$gutter-min: 1;
$gutter-max: 4;
$vertical-min: 1.5;
$vertical-max: 6;

// Establishing some vertical rhythm for block elements
$vertical-rhythm: ($line-height__base * 1rem);

// Z Indices
$z-indices: (
  page: 1,
);

// Z-index helper
@function z($name) {
  @return map-get($z-indices, $name);
}
