.page {

  &__cover,
  &__cover img {
    width: 100%;
    height: 110vh;
  }

  &__cover {
    position: fixed;
    top: 0;
    opacity: 0.9;
    overflow: hidden;
    transform: translateY(0);
    z-index: -1;

    .layout__tour & {
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      animation: fade-out 1s linear;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      object-position: top;
    }
  }

  &__opener {
    //@include media-breakpoint-up(lg) {
    //  margin-top: 56vh;
    //}
  }
  
  &__title {}
}
  
@keyframes fade-out {
  to {
    opacity: 0.25;
    transform: translateY(-10vh);
  }
}

:root .page__cover img {
  // Pause the animation
  animation-play-state: paused;
  // Bind the animation to scroll
  animation-delay: calc(var(--scroll) * -1s);
  // These last 2 properites clean up overshoot weirdness
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
