// Styles for the Tour microsite

$navbar-height: 64px;

// Navigation tweaks
/*body*/ .layout__tour,
.layout__location {
  
  > * {
    margin: 0 auto;
    max-width: 800px;
  }

  .navbar {
    overflow: visible;
    align-items: flex-start;
    height: $navbar-height;
  }

  .nav {
    
    &__logo {
      height: 84px;
      padding: 0;
    
      img {
        height: 84px;
        margin: -4px -6px 0 0;
      }
    }
    
    &__pane {
      margin-top: -20px;
      max-height: calc(100vh - #{$navbar-height});
      overflow-x: scroll;
    }
    
    // Reset of the standard styles
    &__item {
      
      &.dropdown {
        border-left: 4px solid $pps-green;
      }
    }

    &__link {
      background-color: $tint__pps-green__medium;
      color: $tint__pps-green__dark;
      padding-left: $spacer;
      padding-right: $spacer;

      &:hover,
      &:focus {
        color: $pps-yellow;
        background-color: $tint__pps-green__dark;
      }
      
      &[aria-current="page"] {
        color: $gray-700;
        cursor: default;
        background-color: $white;
      }
    }
  }
}

.tour {
  // New tour nav elements
  &__nav {
    &__address {
      display: block;
      font-family: Helvetica, sans-serif;
      font-size: 75%;
      font-weight: 700;
    }

    &__house-name {
      color: $gray-700;
      display: block;
      font-size: 87.5%;
      padding-top: 0.25rem;
    }
  }
}

.location {
  
  &__title {}
  
  &__address {
    color: $pps-green;
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 87.5%;
  }
  
  &__house-name {
    display: block;
    font-size: 75%;
  }
}

.page__map .map {
  margin: -2rem -1rem 0;
  
  iframe {
    min-width:100vw;
    min-height: 100vh;
  }
}
