// Styles for the Tour microsite

$navbar-height: 64px;

// Navigation tweaks
/*body*/ .layout__tour,
.layout__location {
  max-width: 960px;
  margin: 0 auto;

  .nav {

    // Reset of the standard styles
    &__item {

      &.dropdown {
        border-left: 4px solid $tint__primary__dark;
      }
    }

    &__list {
      padding-bottom: $spacer;
      overflow-x: scroll;
      max-height: calc(100vh - 60px);
    }

    &__link {
      background-color: $tint__primary__lightest;
      color: $tint__primary__dark;
      padding-left: $spacer;
      padding-right: $spacer;

      &:hover,
      &:focus {
        color: $primary;
        background-color: $tint__primary__dark;
        
        .tour__nav__house-name {
          color: $white;
        }
      }

      &[aria-current="page"] {
        color: gray("700");
        cursor: default;
        background-color: $white;
      }
    }
  }
}

// When in body copy over a certain color, change the bg color
.bg__primary .nav__link {
  background-color: $white;
}

.tour {
  // New tour nav elements
  &__nav {
    &__label {
      display: block;
      font-size: 87.5%;
      padding-bottom: 0.5rem;
    }

    &__address {
      display: block;
      font-family: Helvetica, sans-serif;
      font-size: 75%;
      font-weight: 700;
    }

    &__house-name {
      display: block;
      color: $gray-700;
      font-size: 87.5%;
      padding-top: 0.25rem;
    }
  }
}

.location {

  &__title {}

  &__address {
    color: $tint__primary__medium;
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 87.5%;
  }

  &__house-name {
    display: block;
    font-size: 75%;
  }
}

.page__map .map {
  margin: -2rem -1rem 0;
  
  iframe {
    min-width:100vw;
    min-height: 100vh;
  }
}
