  <li class="nav-item nav__item">
    <a href="{% link 2023/welcome.html %}" class="nav-link nav__link{% if page.permalink == '/2023/welcome/' %} active" aria-current="page{% endif %}">Welcome message</a>
  </li>
  <li class="nav-item nav__item dropdown">
    <a href="{% link 2023/neighborhood.html %}" class="dropdown-item nav__link{% if page.permalink == '/2023/neighborhood/' %} active" aria-current="page{% endif %}">Neighborhood</a>
    {% include location-navigation.html %}
  </li>
  <li class="nav-item nav__item">
    <a href="{% link 2023/map.html %}" class="nav__link{% if page.permalink == '/2023/map/' %} active" aria-current="page{% endif %}">Location Map</a>
  </li>
  <li class="nav-item nav__item">
    <a href="{% link 2023/sponsors.html %}" class="nav__link{% if page.permalink == '/2023/sponsors/' %} active" aria-current="page{% endif %}">Festival Committee & Sponsors</a>
  </li>
