---
layout: tour
permalink: /2022/neighborhood/
body-class: tour
---

<div class="u__spacing opener">
  
  <h1 class="h2">Neighborhood History</h1>
  <p class="lead">The Keene Street and Lloyd Avenue blocks are an intimate section of the tree-lined neighborhood north of Brown University between Angell and Olney Streets. </p>
    
  <p>The earliest houses in this area were completed in the 1850s, and by the 1870s, ample Second Empire and Italianate style houses dotted the neighborhood. The building boom of the 1880s and 1890s saw a blend of Queen Anne and Colonial Revival houses, all comfortable in size, rich in detail, and set back from the streets to allow for a dense landscape of flora. The proximity to Brown University and Rhode Island School of Design also attracted professors to this burgeoning enclave, while the nearby Thayer Street commercial district provided household needs and entertainment.</p>
  
</div>

<div class="u__spacing bg__green">
  <h2>On this Tour</h2>
  {% include location-navigation.html %}
</div>

{% include sponsors.html %}
