
.footer {
  background-color: gray("700");
  color: $white;
  text-align: center;
  
  .page__title {
    color: $tint__pps-blue__lightest;
  }
  
  p {
    margin-bottom: 0;
  }
  
  a {
    color: $white;
  }
  
  address {}
}
