
.footer {
  background-color: rgba(gray("900"), .9);
  color: $white;
  text-align: center;
  
  .page__title {
    color: $pps-green;
  }
  
  p {
    margin-bottom: 0;
  }
  
  a {
    color: $white;
  }
  
  address {}
}
