// Navigation Bar
// A mix oif custom styles (.nav) and BS4 classes (.navbar)

.nav {
  //@extend %fluid-gutter; // for fluid left and right padding
  align-items: flex-start;

  // Actually one level above .nav
  &__container {
    background-color: rgba($tint__pps-blue__dark, 0.92);
    
    @include media-breakpoint-up(md) {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
    }
  }
  
  &__button {
    border-radius: 0;
    padding: 0;
    margin: 0.75rem -0.5rem 0.5rem;
    
    &__icon,
    &__text {
      color: $white;
      display: inline-block;
      vertical-align: middle;
    }
    
    &__icon {
      font-size: 2.5rem;
      padding: 0 0.5rem 0 1rem;
    }
    
    &__text {
      font-size: 1.125rem;
      padding: 0.25rem 0.5rem 0 0;
      letter-spacing: $kerning;
      text-transform: uppercase;
    }
  }
  
  &__logo {
    height: 46px;

    img {
      height: 58px;
    }
  }
  
  // Collapsible area for mobile
  &__pane {
    justify-content: center;
    
    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }
  }
  
  // UL
  &__list {}
  
  // Sibling hover effect
  &__list &__link {
    // Hover off effect
    opacity: 1;
    transition: all 400ms ease 400ms;
  }
 
  &__list:hover &__link:not(:hover) {
    // Hover on effect
    filter: blur(1px);
    opacity: 0.6;
    transition: all 250ms ease;
  }
  
  // LI
  &__item {}
  
  // Anchor
  &__link {
    color: $white;
    background-color: transparent;
    display: block;
    font-weight: $font-weight-bold;
    padding: $spacer $spacer ($spacer * 0.75);
    text-decoration: none;
    
    // Already set by BS4 inside .navbar-expand-md .navbar-nav .nav-link
    //@include media-breakpoint-up(lg) {
    //  padding-left: $navbar-nav-link-padding-x;
    //  padding-right: $navbar-nav-link-padding-x;
    //}
    
    @include hover-focus {
      color: color("yellow");
      background-color: $black;
    }
    
    &.primary.active {
      color: $white;
      background-color: theme-color("primary");
    }
    
    &.green.active {
      color: $black;
      background-color: color("green");
    }
  }
  
  &__spacer {
    height: em(56);
  }
}
