.opener {
  
  &__section {
    text-align: center;
  }
  
  &__img {
    padding: 10vh 5vh 0;
    margin: 0 auto;
    
    @include media-breakpoint-up(sm) {
      padding: 5vh;
      max-height: 70vh;
      max-width: 70vw;
    }
    
    @include media-breakpoint-up(lg) {
      max-height: 60vh;
      max-width: 60vw;
    }
  }
}
