// Various sections and utilities

// For text to be legible over images better
.drop-shadow {
  text-shadow: 
    2px 2px 0 $white,
    1px 1px 5px rgba($white, 0.9)
  ;
}

.img-border {
  border: 3px solid $white;
}
.img-border__yellow {
  border: 3px solid $primary;
}

.bg {

  &__cover {
    background: center center no-repeat $white;
    background-size: cover;
  }

  &__fixed {
    background-attachment: fixed;
  }

  // Primary and dark color themes
  // Using the darker version for accessibility
  &__primary {
    background-color: hsla(from $tint__primary__lightest h s l / 0.88);
  }

  &__white {
    background-color: $white;
  }

  &__white-trans {
    background: rgba($white, .92);
  }
}
