.sponsors {
  
  &__title {
    letter-spacing: ($kerning * 2);
    text-transform: uppercase;
  }

  &__list {
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    
    @include media-breakpoint-up(md) {
      padding: 0 2rem;
    }
    @include media-breakpoint-up(xl) {
      padding: 0 3rem;
    }
    
    .layout__tour & {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    
    // Kill the columns in the narrow Tour pages
    .layout__tour &.row.tour-no-flex {
      display: block;
    }
    
    .layout__tour &.tour-no-flex .col {
      max-width: 100%;
    }
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  
  h3 {
    padding-top: 3rem;
  }
}
