.sponsors {

  &__title {
    letter-spacing: ($kerning * 2);
    text-transform: uppercase;
  }

  &__list {
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    //.layout__tour & {
    //  padding-left: 0 !important;
    //  padding-right: 0 !important;
    //}

    // Kill the columns in the narrow Tour pages
    //.layout__tour &.row.tour-no-flex {
    //  display: block;
    //}

    .layout__tour &.tour-no-flex .col {
      max-width: 100%;
    }
  }

  h3 {
    margin-top: 1.25em;
  }

  img, 
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
}
