<!DOCTYPE html>
<html class="no-js" lang="en-US">

  {% include head.html %}

  <body class="layout__{{ page.layout }} page__{{ page.body-class }}">
    <div class="page__cover">
      <img class="img--rwd" src="{{ site.baseurl }}assets/img/FOG_banner_garden-only.jpg" alt="" />
      <p class="page__subtitle">Providence Preservation Society</p>
      <h1 class="page__title display-3">Festival of Gardens</h1>
    </div>
    {% include navigation.html %}
    
    {{ content }}

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>