<!DOCTYPE html>
<html class="no-js" lang="en-US">

  {% include head.html %}
  {% if page.body-bg-img %}
    {% assign body-bg-img = page.body-bg-img %}
  {% else %}
    {% assign body-bg-img = 'modern-home-interior.jpg' %}
  {% endif %}

  <body class="layout__{{ page.layout }} page__{{ page.body-class }}">
    <div class="page__cover">
      <img src="{{ site.baseurl }}assets/img/{{ body-bg-img }}" alt="" />
    </div>

    {% include navigation.html %}

    <main class="page__opener u__spacing">
      <div class="spacer"></div>
      <article>
        {{ content }}

        {% if page.permalink != '/sponsors/' %}{% include sponsors.html %}{% endif %}
      </article>
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
