<!DOCTYPE html>
<html class="no-js" lang="en-US">

  {% include head.html %}

  <body class="layout__{{ page.layout }} page__{{ page.body-class }}">
    {% if page.body-bg-img %}
    <div class="page__cover">
      <img src="{{ site.baseurl }}assets/img/{{ page.body-bg-img }}" alt="" />
    </div>
    {% endif %}
    
    {% include navigation.html %}

    {{ content }}

    {% comment %}
    {% include sponsors.html %}
    {% endcomment %}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>