<!DOCTYPE html>
<html class="no-js" lang="en-US">

  {% include head.html %}

  <body class="layout__{{ page.layout }} page__{{ page.body-class }}">
    <div class="page__cover">
      <img src="/assets/img/2022-fhh-image-DARKER.jpg" alt="" />
    </div>
    
    {% include tour-navigation.html %}
    
    <main class="page__opener u__content u__vspacing">
      
      {% if page.permalink == '/2022/' %}
      <div class="u__vspacing u__m-spacing">
        <img class="u__vspacing img--rwd opener__img" src="/assets/img/FHH-text-opener-2022.png" alt="Providence Preservation Society’s Festival of Historic Houses" />
      </div>
      {% else %}
      <div style="height: 80px"></div>
      {% endif %}
      {% if page.img-path %}
      <div class="u__container u__m-spacing ">
        <img class="img--rwd" src="{{ site.baseurl }}{{ site.currenttour }}assets/{{ page.img-path }}" alt="" />
      </div>
      {% endif %}
      <article class="u__container u__m-spacing bg__white">
        {{ content }}
      </article>
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
